body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

/*header navigation*/
.logo{
    width: 15rem;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 0.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}


.navigation>li>a{
    margin: 0 1rem;
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover{
    color: rgb(218, 192, 49);
    transition: all .6s ease-in-out;

}

.active{
    background-color: rgb(240, 196, 101);
    color: black;
    padding: 15px;
}



/*main atau content*/
main{
    padding: 100px 80px;
}

.main-container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
}

.main-container h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.article{
    margin: 40px;
    padding: 10px;
}

.section{
    margin: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sosiodrama{
    font-size: 25px;
    font-style: oblique;
    color: blue
}

/* Galeri */
.gallery{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}

.gallery img{
    width: 500px;
    height: 250px;
    object-fit: cover;
    border:1px solid #eee;
    box-shadow:1px 2px 3px #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.galeri{
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

fieldset{
    border: 0;
    margin: 0 auto;
    justify-content: center;
}

.video{
    margin: 20px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}

.video fieldset{
    width: 500px;
    height: 250px;
    align-items: center;
    object-fit: cover;
    border:1px solid #eee;
    box-shadow:1px 2px 3px #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Komentar */
body {
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

#comment_form input, #comment_form textarea {
    border: 2px solid rgba(0,0,0,0.1);
    padding: 8px 10px;
    outline: 0;
}
#comment_form input {
    width: 250px;
}
#comment_form textarea {
    width: 450px;
}

#comment_form input[type="submit"] {
    cursor: pointer;
    background: -webkit-linear-gradient(top, #efefef, #ddd);
    background: -moz-linear-gradient(top, #efefef, #ddd);
    background: -ms-linear-gradient(top, #efefef, #ddd);
    background: -o-linear-gradient(top, #efefef, #ddd);
    background: linear-gradient(top, #efefef, #ddd);
    color: #333;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -ms-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(top, #eee, #ccc);
    border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
    background: -webkit-linear-gradient(top, #ddd, #aaa);
    background: -moz-linear-gradient(top, #ddd, #aaa);
    background: -ms-linear-gradient(top, #ddd, #aaa);
    background: -o-linear-gradient(top, #ddd, #aaa);
    background: linear-gradient(top, #ddd, #aaa);    
    border: 1px solid #999;
}

#comment_form div {
    margin-bottom: 8px;
}

/* Footer */
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}   

container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(218, 192, 49);
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: black;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
